<!DOCTYPE html>
<html ng-app="Anunciantes" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout_company">
<meta charset="utf-8" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js">
</script>
<head>
<title>.:: ad-extreme ::. - anunciantes</title>
</head>
<th:block layout:fragment="conteudo" ng-controller="anunciantesCtrl">
	<ul ng-repeat="usuario in usuarios">
		<li>
		<span ng-click="anunciante(usuario.id)">Anunciante: {{usuario.nome}}, Contato: {{usuario.email}}</span>
		<!-- <br /><span>{{usuarios.anuncios}}</span> -->
		</li>		
	</ul>
</th:block>
<script src="./js/main.js"></script>
</html>